.gg-video {
    box-sizing: border-box;
    position: relative;
    font-size: 11px;
    color: #ffffff;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    border: 5px solid greenyellow;
    margin: 10px 0;
}

.gg-video:fullscreen {
    max-width: none;
    width: 100%;
}

.gg-video:-webkit-full-screen {
    max-width: none;
    width: 100%;
}

.gg-video--viewer {
    width: 100%;
}

.gg-video--controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: red;
}

.gg-video:hover .gg-video--controls {
    /* transform: translateY(0); */
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 22%, rgba(0, 0, 0, 0.5480567226890756) 99%);
}


.gg-video--top,
.gg-video--middle,
.gg-video--bottom {
    width: 100%;
    /* background: gold; */
}


.gg-video--top,
.gg-video--middle,
.gg-video--bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.gg-video--top {
    background: gold;
    height: 36px;
}

.gg-video--bottom {
    background: maroon;
    height: 30px;
}



.gg-video--item-left,
.gg-video--item-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.gg-video--item-right {
    justify-content: flex-end;
}

.gg-video--timestamp {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    margin: 6px;
}

.gg-video--timestamp-break {
    margin: 0 3px;
}

.gg-video--timestamp-ad {
    margin: 6px;
    opacity: .5;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.gg-video:hover .gg-video--timestamp-ad {
    opacity: 1;
}


.gg-video--button-skip {
    height: 24px;
    min-width: 60px;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 6px;
    background: #1f1f1f;
    border: 1px solid #bababa;
    cursor: pointer;
    opacity: .5;
    transition: all .3s;
}

.gg-video--button-skip:hover {
    opacity: 1;
}


.gg-video--button-icon {
    background: none;
    background-repeat: no-repeat;
    border: 0;
    line-height: 1;
    color: white;
    outline: 0;
    padding: 0;
    cursor: pointer;
    opacity: .7;
    transition: all .3s ease-in-out;
}

.gg-video--button-icon:hover {
    opacity: 1;
}


.gg-video--button-icon.mute {
    background-image: url(./icons/mute.svg);
    height: 18px;
    width: 19px;
    margin: 6px;
}


.gg-video--button-icon.play {
    background-image: url(./icons/play.svg);
    height: 18px;
    width: 16px;
    margin: 6px;
}

.gg-video--button-icon.pause {
    background-image: url(./icons/pause.svg);
    height: 18px;
    width: 16px;
    margin: 6px;
}

.gg-video--button-icon.expand {
    background-image: url(./icons/expand.svg);
    height: 18px;
    width: 16px;
    margin: 6px;
}

.gg-video--volume {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gg-video--volume-control {
    opacity: 0;
    transition: all .3s ease-in-out;
}

.gg-video--volume:hover>.gg-video--volume-control,
.gg-video--volume:hover>.gg-video--button-icon {
    opacity: 1;
}

.gg-video--progress {
    width: 100%;
}


.gg-video--progress-bar {
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 3px;
    transition: height 0.3s;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.gg-video--progress-filled {
    position: relative;
    width: 0%;
    background: #FFCE00;
    flex: 0;
    flex-basis: 0%;
}

div.gg-video--progress-filled::after {
    content: "000";
    position: absolute;
    right: -6px;
    top: -3px;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    background: #FFCE00;
    z-index: 100;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 41px -12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 41px -12px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 41px -12px rgba(0, 0, 0, 0.6);
}

div.gg-video--progress-filled:hover::after {
    opacity: 1;
}
