.gg-video {
    box-sizing: border-box;
    position: relative;
    font-size: 11px;
    color: #ffffff;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.gg-video:fullscreen {
    max-width: none;
    width: 100%;
}

.gg-video:-webkit-full-screen {
    max-width: none;
    width: 100%;
}

.gg-video--top,
.gg-video--middle,
.gg-video--bottom {
    width: 100%;
}


.gg-video--top,
.gg-video--middle,
.gg-video--bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.gg-video--top {
    height: 36px;
}

.gg-video--bottom {
    height: 30px;
}



.gg-video--item-left,
.gg-video--item-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.gg-video--item-right {
    justify-content: flex-end;
}

.gg-video--viewer {
    width: 100%;
}

.gg-video--controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateY(100%) translateY(-39px);
    transition: all .3s;
    background: transparent;
}


.gg-video--timestamp {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    margin: 6px;
    opacity: .8;
    user-select: none;
}

.gg-video--timestamp-break {
    margin: 0 3px;
}

.gg-video--timestamp-ad {
    margin: 6px;
    opacity: .5;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.gg-video:hover .gg-video--timestamp-ad {
    opacity: 1;
}


.gg-video--button-skip {
    display: none;
    height: 24px;
    min-width: 60px;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 6px;
    background: #1f1f1f;
    border: 1px solid #bababa;
    cursor: pointer;
    opacity: .5;
    transition: all .3s;
}

.gg-video--button-skip:hover {
    opacity: 1;
}


.gg-video--button-icon {
    background: none;
    background-repeat: no-repeat;
    border: 0;
    line-height: 1;
    color: white;
    outline: 0;
    padding: 0;
    cursor: pointer;
    opacity: .7;
}

.gg-video--button-icon:hover {
    opacity: 1;
}


.gg-video--button-icon.mute {
    background-image: url(./icons/mute.svg);
    height: 18px;
    width: 19px;
    margin: 6px;
}

.gg-video--button-icon.low {
    background-image: url(./icons/low-volume.svg);
    height: 18px;
    width: 19px;
    margin: 6px;
}

.gg-video--button-icon.medium {
    background-image: url(./icons/med-volume.svg);
    height: 18px;
    width: 19px;
    margin: 6px;
}

.gg-video--button-icon.high {
    background-image: url(./icons/high-volume.svg);
    height: 18px;
    width: 19px;
    margin: 6px;
}


.gg-video--button-icon.play {
    background-image: url(./icons/play.svg);
    height: 18px;
    width: 16px;
    margin: 6px;
}

.gg-video--button-icon.pause {
    background-image: url(./icons/pause.svg);
    height: 18px;
    width: 16px;
    margin: 6px;
}

.gg-video--button-icon.expand {
    background-image: url(./icons/expand.svg);
    height: 18px;
    width: 16px;
    margin: 6px;
}

.gg-video--volume {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gg-video--volume-control {
    opacity: 0;
    transition: all .3s ease-in-out;
}

.gg-video--volume:hover>.gg-video--volume-control,
.gg-video--volume:hover>.gg-video--button-icon {
    opacity: 1;
}

.gg-video--progress {
    width: 100%;
}


.gg-video--progress-bar {
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 3px;
    transition: height 0.3s;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.gg-video--progress-filled {
    position: relative;
    width: 0%;
    background: #FFCE00;
    flex: 0;
    flex-basis: 0%;
}

.gg-video--progress-filled::after {
    content: " ";
    position: absolute;
    right: -6px;
    top: -3px;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    background: #FFCE00;
    z-index: 100;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 41px -12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 41px -12px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 41px -12px rgba(0, 0, 0, 0.6);
}

div.gg-video--progress-filled:hover::after {
    opacity: 1;
}


.gg-video--input-range {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    max-width: 80px;
    margin: 0 5px;
}

.gg-video--input-range:focus {
    outline: none;
}

.gg-video--input-range::-webkit-slider-runnable-track {
    width: 100%;
    max-width: 80px;
    height: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}

/* .gg-video--input-range:focus::-webkit-slider-runnable-track {
    background: #bada55;
    outline: none;
  } */

.gg-video--input-range::-webkit-slider-thumb {
    height: 9px;
    width: 9px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.gg-video--input-range::-moz-range-track {
    width: 100%;
    max-width: 80px;
    height: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}

.gg-video--input-range::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 9px;
    width: 9px;
    border: none;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
}





/* Player Overrides */

/* Standard Video Player */
.gg-video:hover .gg-video--controls {
    transform: translateY(0);
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}


.gg-video:hover .gg-video--progress-bar {
    margin: 0 6px;
}


.gg-video .gg-video--top>.gg-video--item-left {
    display: none;
}



/* Show Ad Unit Countdown Timestamp & Volume  */
/* Example: <div class="gg-video  gg-video--ad"> */
.gg-video--ad .gg-video--top>.gg-video--item-left {
    display: inherit;
}

.gg-video:hover.gg-video--ad .gg-video--top>.gg-video--item-left {
    display: none;
}


/* Allow Skip */
/* Add .gg-video--skip to show SKIP button */
/* Example: <div class="gg-video  gg-video--skip"> */

.gg-video--skip .gg-video--button-skip {
    display: inline-block;
}


/* Ad Video w/ Ad Countdown & Volume - no scrub & no play pause */
/* Add class gg-video--no-scrub */
/* Example: <div class="gg-video  gg-video--ad gg-video--no-scrub"> */

.gg-video:hover.gg-video--no-scrub .gg-video--controls {
    transform: translateY(100%) translateY(-39px);
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.gg-video:hover.gg-video--no-scrub .gg-video--progress-bar {
    margin: 0;
}

.gg-video:hover.gg-video--no-scrub .gg-video--top>.gg-video--item-left {
    display: inherit;
}

.gg-video--no-scrub .gg-video--progress-bar {
    cursor: not-allowed;
}

.gg-video--no-scrub .gg-video--progress-filled::after {
    display: none;
}



/* Video Volume Only w/ extra padding - ie ISEV Video */
/* Add class gg-video--volume-only */
/* Example: <div class="gg-video  gg-video--volume-only"> */

.gg-video.gg-video--volume-only .gg-video--top>.gg-video--item-left {
    display: inherit;
}


.gg-video--volume-only .gg-video--controls {
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateY(0);
    transition: all .3s;
}

.gg-video:hover.gg-video--volume-only .gg-video--controls {
    transform: translateY(0);
    background: none;
}

.gg-video--volume-only .gg-video--middle,
.gg-video--volume-only .gg-video--bottom {
    display: none;
}

.gg-video--volume-only .gg-video--timestamp-ad {
    display: none;
}

.gg-video:hover.gg-video--volume-only .gg-video--top>.gg-video--item-left {
    display: inherit;
}
