html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 600px;
  padding: 0;
  background: #ccc;
  min-height: 100vh;
  background-size: cover;
}



.player {
  box-sizing: border-box;
  border: 5px solid red;
  position: relative;
  font-size: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

.player:fullscreen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: 100%;
}

.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
}


.player__button.full {
  background: transparent;
  background-image: url(./icons/expand.svg);
  background-repeat: no-repeat;
  height: 18px;
  width: 19px;
  margin: 6px;

}

.player__button.pause {
  background: transparent;
  background-image: url(./icons/pause.svg);
  background-repeat: no-repeat;
  height: 18px;
  width: 19px;
  margin: 6px;

}

.player__button:focus {
  border-color: #FFCE00;
}

.player__slider {
  width: 10px;
  height: 30px;
}

.player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  max-height: 70px;
  transform: translateY(100%) translateY(-39px);
  transition: all .3s;
  flex-wrap: wrap;
  background: transparent;
}

.player:hover .player__controls {
  transform: translateY(0);
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 22%, rgba(0, 0, 0, 0.5480567226890756) 99%);
}

.player:hover .progress {
  height: 3px;
  margin: 0 6px;
}

.player__controls>* {
  flex: 1;
}

.top {
  flex: 1;
  /* background: red; */
  width: 100%;
  max-height: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top--left {
  display: flex;
}

.ad {
  font-size: 11px;
  font-weight: lighter;
  color: #ffffff;
  opacity: .6;
  margin: 6px;
}


.player:hover .ad {
  opacity: 1;
}

.volume {
  /* top volume */
  font-size: 11px;
  font-weight: lighter;
  color: #ffffff;
  opacity: .6;
  margin: 6px;
}

.skip__button {
  height: 24px;
  min-width: 60px;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 6px;
  background: #1f1f1f;
  border: 1px solid #bababa;
  cursor: pointer;
  opacity: .5;
  transition: all .3s;
}

.skip__button:hover {
  opacity: 1;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 3px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.progress__filled {
  width: 0%;
  background: #FFCE00;
  flex: 0;
  flex-basis: 0%;
}


.bottom {
  display: flex;
  justify-content: space-between;
  height: 30px;
  background: purple;
  font-size: 10px;
}

.bottom--left {
  display: flex;
  background: maroon;
}

.bottom--right {
  height: 30px;
  background: mediumaquamarine;
}



















input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #FFCE00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bada55;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #FFCE00;
  cursor: pointer;
}


svg.cls-1 {
  fill: purple;
}


.hi {
  background: pink !important;
}
